html {
    position: relative;
    min-height: 100%;
    font-family: 'VT323', monospace;
}
body{
    font-size: 28px;
    background-image: url("../images/desert.jpg");
    background-size: 100% 100%; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Peralta', cursive; 
    color: white; 
}
hr {
    border-style: solid;  
}
strong {
    font-weight: bold; 
}
.header {
    text-align: center; 
    background-image: url("../images/landscape.png");
    background-size: 100% 100%;  
    padding: 10px 0px
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 32px; 
}

.background {
    width: 50%; 
    margin: 10px auto; 
    position: relative; 
}
img {
    width: 100%; 
}
.gameScreen {
    text-align: center;
    position: absolute;
    bottom: 16%;
    top: 34%;
    left: 17%;
    right: 19%;
    width: 63%;
    height: 50%;
    padding: 0 5px; 
}
.seperator {
    padding: 13px;
}
#places {
    font-size: 55px; 
    letter-spacing: 5px; 

}
.stats {
    text-align: left;
}
@media screen and (max-width: 980px ) {
    body {
        font-size: 20px; 
    }
    #places {
        font-size: 35px;
    }
    .seperator {
        padding: 10px;
    }
} 
@media screen and (max-width: 768px ) {
    .background {
        width: 70%; 
    }
    #places {
        font-size: 33px; 
    }
    body {
        font-size: 22px; 
    }
    .seperator {
        padding: 7px;
    }
}
@media screen and (max-width: 640px ) {
    h1 {
        font-size: 50px;
    }
    .background {
        width: 90%; 
    }
    #places {
        font-size: 32px; 
    }
    body {
        font-size: 18px; 
    }
    .seperator {
        padding: 12px;
    }

}
@media screen and ( max-width: 360px ) {
    h1 {
        font-size: 50px;
    }
    .background {
        width: 95%; 
    }
    #places {
        font-size: 24px; 
    }
    body {
        font-size: 16px; 
    }
    .seperator {
        padding: 3px;
    }
    
}
